fVYaJ9CtSapXOiJw.json
{
  "updatedAt": "2025-06-04T09:44:10.000Z",
  "createdAt": "2025-05-29T21:44:02.363Z",
  "id": "fVYaJ9CtSapXOiJw",
  "name": "KSL chatbot (Postgres mem + Qdrant docker) in used copy 2",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "dc8a6420-f11d-4877-a287-2b95fb5c3169",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "LdtYWDG4KT5XTJXa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "id": "b6a33b31-e26b-477e-a8fe-c180966cdb7c",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*"
        },
        "path": "50c3357e-0a1b-4d58-8c89-4bc5e6481bca"
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        -220
      ],
      "id": "48f5e563-787f-4cfd-8363-911f3f0e3c7d",
      "name": "Start chat here",
      "webhookId": "50c3357e-0a1b-4d58-8c89-4bc5e6481bca"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "bfd1b323-0516-4647-abbf-295457eaf5a5",
      "name": "Google",
      "credentials": {
        "serpApi": {
          "id": "YU973DRwW0CmrVfP",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        0
      ],
      "id": "0080b614-e4e7-438c-bd25-18b0ff958dbb",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "tZHVT6xgANDw48fc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        200
      ],
      "id": "7b3a59ad-bffa-48fc-ae01-7b75332960e1",
      "name": "Embeddings GPT",
      "credentials": {
        "openAiApi": {
          "id": "tZHVT6xgANDw48fc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}{{ $json.message }}",
        "options": {
          "systemMessage": "[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are a helpful assistant named Tryvi. Always introduce yourself as Tryvi, and format as: **Tryvi**: <message> (in Markdown), or use green color for Tryvi if HTML is supported.\"\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        420,
        -220
      ],
      "id": "2e6cff45-19d8-46d7-b5d3-c6fc25aed475",
      "name": "AI Agent",
      "notesInFlow": false,
      "alwaysOutputData": false,
      "notes": "First skal du bruke noden 'Hent info fra knowledage base' til å svare spørsmål. Hvis du ikke kan finne relevant info, da skal du bruke chatGPT"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "KSL_knowledge_base",
        "toolDescription": "Bruk denne til å svare på spørsmål om SNM, KSL, LokalMat og NytNorge",
        "qdrantCollection": {
          "__rl": true,
          "value": "ksl_knowledge_base",
          "mode": "list",
          "cachedResultName": "ksl_knowledge_base"
        },
        "topK": 64,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        760,
        0
      ],
      "id": "670e479a-b8f8-41e6-a2fe-bdfd65303f35",
      "name": "Hent info fra knowledage base",
      "credentials": {
        "qdrantApi": {
          "id": "by4cZRUMG2dwSSHl",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "connections": {
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start chat here": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings GPT": {
      "ai_embedding": [
        [
          {
            "node": "Hent info fra knowledage base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Hent info fra knowledage base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "acff558a-f60d-490d-8455-cc9e2b2f5435",
  "versionCounter": 1,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-05-29T21:44:02.385Z",
      "createdAt": "2025-05-29T21:44:02.385Z",
      "role": "workflow:owner",
      "workflowId": "fVYaJ9CtSapXOiJw",
      "projectId": "idftf7UI0l2sFgzw",
      "project": {
        "updatedAt": "2025-05-16T11:51:47.189Z",
        "createdAt": "2025-05-16T11:23:15.707Z",
        "id": "idftf7UI0l2sFgzw",
        "name": "Tuan Ho <hotuan@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}